body {
    background-color: #d3d3d3;
}

#results {
    background-color: #d3d3d3;
    margin: auto;
    padding: 3em;
    border: solid purple 6px;
}

.logo img {
    height: 50px;
    width: 50px;
    border: 1px solid lightgray;
}

.name {
    text-align: center;
}

.game {
    font-family: ;
}

.results .row {
    padding-top: 2px;
    border: black solid  1px;
    margin: 2px;
}

.status {
    
}

